    <div id="footer">
      <div class="container">
        <p class="text-muted">
          &copy; 2009--2015 MiniAT
        <script type="text/javascript" language="javascript">
        <!--
        // Email obfuscator script 2.1 by Tim Williams, University of Arizona
        // Random encryption key feature by Andrew Moulden, Site Engineering Ltd
        // This code is freeware provided these four comment lines remain intact
        // A wizard to generate this code is at http://www.jottings.com/obfuscator/
        { coded = "39KK9qx.OwRzPS@fvRA9E.P0v"
          key = "9r6G8OE3lU5jQdgT2xzo7XLRPyS1IWsauKDMpi0kYVctwbH4FJACZhmfqvNBne"
          shift=coded.length
          link=""
          for (i=0; i<coded.length; i++) {
            if (key.indexOf(coded.charAt(i))==-1) {
              ltr = coded.charAt(i)
              link += (ltr)
            }
            else {     
              ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
              link += (key.charAt(ltr))
            }
          }
        document.write("<a href='mailto:"+link+"' title='Email the MiniATeam'><span class='glyphicon glyphicon-envelope'></span></a>")
        }
        //-->
        </script><noscript>Sorry, you need Javascript on to email me.</noscript>
        </p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/themes/JavaScript/bootstrap.min.js"></script>
  </body>
</html>