

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/">
            <img src="/images/logo_navbar.png" class="img-responsive" />
          </a>

        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="" data-toggle="tooltip" title="Download"><a href="/download" >Fetch</a></li>
			<li class="" data-toggle="tooltip" title="Documentation"><a href="/documentation" >Decode</a></li>
			<li class="" data-toggle="tooltip" title="Getting Started"><a href="/getting-started" >Execute</a></li>
			<li class="" data-toggle="tooltip" title="Develop / Contribute"><a href="/develop" >Write Back</a></li> 
			</li>
          </ul>
        </div>
      </div>
    </div>