a {
	color: #009900;
}

a:hover {
	color: #006600;
}

code {
	color: #ff6600;
	font-weight:bold;
	font-size: 100%;
}

@media (min-width: 900px) {
	.container {
		max-width: 900px;
	}
}

#footer > .container {
	text-align:  center;
	text-valign: middle;
}

.page-header {
	border-bottom: 5px dotted #ddd;
}

#miniat-home-header {
	text-align: center;
}

#miniat-home-header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

